body{
    font-family: "Roboto", sans-serif;
    background-color: rgba(249, 250, 255, 1);
    margin: 0;
}
.body{
    display: flex;
    align-items: end;
}
.member{
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
    
}
.member a{
    text-decoration: none;
    margin-right: 10px;
}
.container {
    width: 850px;
    padding: 100px 100px 0;
    box-sizing: border-box;
    background-color: white;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
}
.text1{
    font-size: 54px;
    width: 300px;
    font-weight: 700;
    color: #42505C;
    line-height: 68px;
}
.text2{
    font-size: 14px;
    line-height: 28px;
    width: 300px;
    color: #404040;
}
.link {
    text-decoration: none;
}
.form{
    margin-top: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box{
    position: relative;
    width: 300px;
    margin-bottom: 27px;
}
.input-box label{
    line-height: 28px;
    font-size: 12px;
    color: #333333;
    
}
.input-box input[type="text"]{
    width: 100%;
    height: 48px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid #D1D1D1;
}
.question{
    position: absolute;
    top: 5px;
    right: 0;
}
.grey{
    color: rgba(51, 51, 51, 0.34);
}
.red{
    color: rgba(255, 0, 0, 0.34);
}
.radio{
    display: flex;
    justify-content: space-between;
}
.radio input[type="radio"] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(209, 209, 209, 1);
    width: 68px;
    height: 48px;
    transition: all 0.2s;
    cursor: pointer;
}   
.radio input[type="radio"]:checked + label{
    color: rgba(71, 67, 224, 1);
    border: 1px solid rgba(71, 67, 224, 1);
    box-shadow: 0px 0px 14px 0px rgba(71, 67, 224, 0.2);
}
.input-box input[type="tel"]{
    width: 100%;
    height: 48px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid #D1D1D1;
}
.input-box button[type="button"]{
    font-size: 14px;
    padding: 15px 25px;
    background-color: rgba(71, 67, 224, 1);
    color: white;
    border: none;
}
.input-box label[for="check"]{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.input-box label[for="check"] > span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(40, 205, 126, 1);
    margin-right: 10px;
}
.input-box input[type="checkbox"]:checked + label[for="check"] > span{
    background-color: rgba(40, 205, 126, 1);
}
.button{
    display: flex;
    justify-content: end;
}
.check{
    display: flex;
    align-items: center;
}
.link1{
    text-decoration: none;
    margin-left: 3px;
}
.punctire{
    margin-bottom: 30px;
}
.input-box input[type="password"]{
    width: 100%;
    height: 48px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid #D1D1D1;
}
